/**
* global styles
 */
@import url('https://fonts.googleapis.com/css?family=Rye|PT+Mono&display=swap');

html, body {
  background: rgb(67,27,84);
  background: linear-gradient(90deg, rgba(67,27,84,1) 0%, rgba(55,16,74,1) 54%, rgba(14,32,79,1) 90%);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rye', sans-serif;
  font-weight: 700;
}

p, label, li, button, input[type='text'], span, a {
  font-weight: 400;
  font-size: 18px;
  font-family: 'PT Mono', sans-serif;
}

/* generic styles */
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow-y: hidden;
}

.header {
  color: #666666;
}

.sub-header {
  color: #666666;
}

.ratings {
  color: rebeccapurple;
}

.open {
  background: #00CC33;
  color: #fff;
}

.closed {
  background: red;
  color: #fff;
}

.closed, .open {
  width: 120px;
  font-size: 18px;
  font-weight: 400;
  margin: 0.3em;
  padding: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .3s ease-in-out;
  text-align: center;
}

.centered {
  text-align: center;
  color: #666666;
  font-size: 24px;
  font-weight: bolder;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
}

