.wrapper {
  display: flex;
}

.sidebar {
  background: #eee;
  padding: 8px;
  flex: 1;
}

.map {
  flex: 2;
}

.navbar {
  background: rgb(91,9,172);
  background: linear-gradient(90deg, rgba(91,9,172,1) 0%, rgba(102,51,153,1) 40%, rgba(102,51,153,1) 80%);
  color: #fff;
  padding: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.list-item {
  background: #fff;
  padding: 5px;
  margin-bottom: 10px;
  border-left: solid 0.4em rebeccapurple;
  border-radius: 0.3em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.list-item:hover {
  cursor: pointer;
}


.list-item-action {
  display: flex;
  align-items: center;
}

.list-item-info {
  display: flex;
  align-items: center;
}

.filter {
  margin-bottom: 5px;
  padding: 5px;
}

button {
  background: rgb(91,9,172);
  background: linear-gradient(90deg, rgba(91,9,172,1) 0%, rgba(102,51,153,1) 40%, rgba(102,51,153,1) 80%);
  width: 435px;
  padding: 10px;
  color: #fff;
  border-radius: 0.8em;
  font-size: 18px;
  transition: all .4s ease-in-out;
  border: solid 0.2em rgb(91,9,172);
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.header {
  color: #412364;
}

.sub-header {
  color:  	#787878;
}


.filter-body {
  display: flex;
}

label {
  margin: 8px;
  color:  	#787878;
}

.filters {
  border-radius: 0.4em;
  padding: 8px;
}

.list {
  overflow-y: scroll !important;
}

.ratings {
  text-align: center;
}

.types {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background: #eee;
  font-size: 18px;
  font-weight: 400;
  color: rgb(91,9,172);
  margin: 0.3em;
  padding: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.searchbar {
  width: 95%;
  border-radius: 0.3em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 0.8em;
}
