html, body {
  background: rgb(67,27,84);
  background: linear-gradient(90deg, rgba(67,27,84,1) 0%, rgba(55,16,74,1) 54%, rgba(14,32,79,1) 90%);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
* global styles
 */
@import url('https://fonts.googleapis.com/css?family=Rye|PT+Mono&display=swap');




/* typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rye', sans-serif;
  font-weight: 700;
}

p, label, li, button, input[type='text'], span, a {
  font-weight: 400;
  font-size: 18px;
  font-family: 'PT Mono', sans-serif;
}

/* generic styles */
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

